/*csslint order-alphabetical: false*/
.fo-menu 
        {
            background-color: gray;
            height: 80px;
        }
/*ez a fomenu classon belüli menüpont classokat választja ki*/
.fo-menu .menupont
        {
            color: white;
            height: 40px;
            display: inline-block;
           /* margin: 10px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            */
            margin: 10px 0 10px 10px; /*fülül, jobra, alul, balra*/
            background-color: blue;
        /*
            padding-top: 22px;
            padding-left: 10px;
            padding-right: 10px;
        */
            padding: 22px 10px 0 10px;
        }
.al-menu
    {
     margin-top: 20px;
    /*jobbrarendezi*/
        float: right;
        
    }
.al-menu .menupont
    {
        display: inline-block;
        margin-left: 10px;
        text-decoration: underline;

    }
/*ha felé visszuk az egeret akkorbekékül*/
.al-menu .menupont:hover
{
    color: blue;
}
.tartalom
    {
        margin-top: 40px;
        background-color: lightgray;
        height: 1000px; /*hogy a scroll bar megjelenjen*/
        zoom: 0.7;/* osszehúzza a bbetűket*/
        /* 
        nem mindent lehet használni itt meg lehet mindent nézni mit minel lehet
        https://caniuse.com
        */
    }
